.container-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width:  60%;
  justify-content: flex-start;
}

.container-5 {
  display: flex;
  flex-direction: row;
  width: 100%;
}


