.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
  margin-bottom: 10vh;
}

.form-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
}

#new_flat {
  display: flex;
  flex-direction: column;
  label {
    font-size: 25px;
  }
}
