// Specific CSS for your home-page
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;

    video {
      position: fixed;
      top: 50%; left: 50%;
      z-index: -1;
      width: auto;
      height: 105vh;
      transform: translate(-50%, -50%);
    }
}

.container h1 {
  font-weight: 400;
  color: white;
}

.container #near {
  width: 32em;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  height: 40px;
}

.container .submit {
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  height: 40px;
  color: white;
  background-color: #FF5A5F;
}

.love {
  position: absolute;
  right: 25px;
  bottom: 0;
  color: white;
  font-size: 15px;
}
