<div class="container3">
  <div class="title-container">
    <p> <%= @category.name %> </p>
    <h2> <%= @flat.title %> </h2>
  </div>
  <div class="photo">
    <%= cl_image_tag( @flat.photo, crop: :fill )  %>
  </div>
</div>
